 <!--paginas individuales-->
<div class="containNote">
    <!--header de la nota-->
    <div class="headerNote">
        <div class="contImgNote">
            <img src="assets/img/img-nota.png" />
            <div class="contBrown"></div>

            <div class="contTitleNote">
                <p>Título de la nota</p>
            </div>
        </div>

        <!--contenido de la nota-->
        <div class="bodyNote mt-5">
            <div class="bodyDate">
                <div class="circleBody"></div>
                <div>
                    <p class="bodyFecha">Saltillo, Coahuila, 22 de noviembre 2024</p>
                    <p class="noComunicado">Comunicado No. 33</p>
                </div>
            </div>
            <div class="contBody">
                <p>Luisa María Alcalde Luján aseguró que recorrerán casa por casa para invitar a todos los hombres y mujeres libres de Coahuila a sumarse al partido-movimiento. Saltillo, Coahuila.- El Comité Ejecutivo Nacional de Morena (CEN), encabezado por la presidenta del partido, Luisa María Alcalde Luján; la secretaria general, Carolina Rangel Gracida; y el secretario de Organización, Andrés Manuel López Beltrán, buscará afiliar a 250 mil coahuilenses como parte de una campaña masiva para sumar en todo el país a 10 millones de personas.	</p>
                <p>“Vamos a ir casa por casa, a todos los rincones de este estado, vamos a llegar a invitar a todos los hombres y mujeres libres de Coahuila a sumarse a Morena, vamos a afiliar a 250 mil coahuilenses”, afirmó Alcalde Luján en Asamblea Informativa, al solicitar el apoyo de la militancia para llevar a cabo esta tarea en toda la entidad.	</p>
                <p>La dirigente nacional se congratuló de que, en esta entidad, Morena sea la primera fuerza moral, porque en “estas tierras, que, según esto, dicen ser casi ya el único bastión priísta, en realidad se trata de un pueblo obradorista. Aquí, el Presidente López Obrador ganó en 2018 y, aquí, la Presidenta Claudia Sheinbaum arrasó en 2024”.	</p>
                <p>Alcalde Luján enfatizó la importancia de consolidar al partido-movimiento en el estado, así como la de conformar comités seccionales a través de una convocatoria pública, para estar organizados. También, aseguró que para el 2026, Morena ganará en Coahuila la mayoría en el Congreso; en el 2027 triunfará en la generalidad de los municipios y para el 2029, la entidad se pintará de guinda. En la asamblea, el CEN también estuvo acompañado por el presidente del Comité Ejecutivo, Diego del Bosque Villareal, y de la secretaria general del Comité Ejecutivo, Estefanía Yáñez Aguilar. Rangel Gracida anunció el “Decálogo para autoridades emanadas de Morena”, mismo que fue aprobado por la militancia coahuilense.	</p>
            </div>
        </div>
    </div>
</div>
    