<div id="direccion" class="direccionWrapper mt-5">
    <% //if (wb_comp_direccion && wb_comp_direccion.length > 0) { %>
        <% //wb_comp_direccion.forEach((direccion) => { %>
            <div class="containAdress">
                <div class="contMap">
                    <!-- Contenido del mapa -->
                    <iframe 
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3763.309353044119!2d-99.17410048935099!3d19.39903534167665!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1ff76dd786b75%3A0x335b077596812449!2sMorena%20CDMX!5e0!3m2!1sen!2smx!4v1736361075979!5m2!1sen!2smx" 
                        allowfullscreen="" 
                        loading="lazy" 
                        referrerpolicy="no-referrer-when-downgrade">
                    </iframe>
                    
                </div>
                <div class="contText">
                    <!-- Contenido del texto -->
                    <h3>DATOS DE CONTACTO</h3>
                    <table class="direccionTable mt-3">
                        <tr>
                            <td class="titDireccion">Titular de la Unidad de Transparencia:</td>
                            <td>Lic. Karla Alicia Ortiz Reyes</td>
                        </tr>
                        <tr>
                            <td class="titDireccion">Dirección</td>
                            <td>Viaduto Presidente Miguel Alemán Valdés No. 806, Col. Nápoles, 
                                Alcaldía Benito Juárez, C.P 03810 Ciudad de México.</td>
                        </tr>
                        <tr>
                            <td class="titDireccion">Teléfono:</td>
                            <td>55 9127 6081</td>
                        </tr>
                        <tr>
                            <td class="titDireccion">Horario de Atención:</td>
                            <td> Lunes a Jueves de 09:00 a 15:00 horas y de 16:00 a 18:00 horas;
                                Viernes de 09:00 a 15:00 horas.</td>
                        </tr>
                        <tr>
                            <td class="titDireccion">Correo Electrónico: </td>
                            <td>unidadtransparencia@morena.si</td>
                        </tr>
                    </table>
                </div>
            </div>

        <% //}); %>
    <% //} else { %>
        <p>No hay información de dirección disponible.</p>
    <% //} %>

</div>
